In [3]:
import pandas as pd
import numpy as np

pd.set_option('mode.chained_assignment', None)

df = pd.read_csv(r"E:\Tung\Python\VcreamProject\cache\ALL.csv")

df.drop(['Unnamed: 0'], axis = 1, inplace=True)

In [5]:
df['ema_12'] = df.groupby('Ticker')['Close'].ewm(span=12, adjust=False, min_periods=12).mean().reset_index(drop=True).to_list()
df['ema_26'] = df.groupby('Ticker')['Close'].ewm(span=26, adjust=False, min_periods=26).mean().reset_index(drop=True).to_list()
df['ppo'] = (df['ema_12'] - df['ema_26'])/df['ema_26']*100
df['signal_line'] = df.groupby('Ticker')['ppo'].ewm(span=9, adjust=False, min_periods=9).mean().reset_index(drop=True).to_list()
df['ppo_histogram'] = df['ppo'] - df['signal_line']

df

,Ticker,Date,Open,High,Low,Close,Volume,ema_12,ema_26,ppo,signal_line,ppo_histogram
0,A32,2018-11-29,22.9056,22.9056,22.9056,22.9076,1000,NaN,NaN,NaN,NaN,NaN
1,A32,2018-12-03,22.9056,22.9056,22.9056,22.9076,100,NaN,NaN,NaN,NaN,NaN
2,A32,2018-12-04,20.0424,20.0424,20.0424,20.0441,2000,NaN,NaN,NaN,NaN,NaN
3,A32,2018-12-21,21.6172,21.6172,21.6172,21.6190,100,NaN,NaN,NaN,NaN,NaN
4,A32,2019-01-02,22.9056,22.9056,22.9056,22.9076,100,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2274182,YTC,2022-05-12,68.0000,68.0000,68.0000,68.0000,100,67.677775,64.537163,4.866363,1.234428,3.631935
2274183,YTC,2022-06-15,66.0000,66.0000,65.0000,65.0000,200,67.265810,64.571447,4.172685,1.822079,2.350606
2274184,YTC,2022-06-24,65.5000,65.5000,65.5000,65.5000,10,66.994147,64.640229,3.641568,2.185977,1.455591
2274185,YTC,2022-09-05,65.5000,65.5000,65.5000,65.5000,200,66.764278,64.703915,3.184294,2.385640,0.798653
2274186,YTC,2022-10-04,65.5000,65.5000,65.5000,65.5000,1,66.569774,64.762885,2.790007,2.466514,0.323493